<ion-tabs color="light">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="changeTab('food')" tab="home" >
      <ion-icon name="fast-food"></ion-icon>
      Food
    </ion-tab-button>
    <ion-tab-button (click)="changeTab('home')" tab="radio">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click)="changeTab('training')" tab="search">
      <ion-icon name="barbell"></ion-icon>
      Training
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
