<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>FITNUTRITION</ion-col>
      </ion-row>
    </ion-grid><br>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>USER</ion-col>
        <ion-col>AGE</ion-col>
      </ion-row>
    </ion-grid><br><br>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>TRAINING</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col size="6">DUMBBELLS</ion-col>
        <ion-col size="6">CALISTHENICS</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col>CROSSFIT</ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="fast-food"></ion-icon>
        Food
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="barbell"></ion-icon>
        Training
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- Otras secciones o componentes que quieras mostrar en la página de inicio -->
</ion-content>
