ion-tab-bar {
    background-color: rgb(253, 253, 253);
    color: aliceblue;
}

ion-tab-button {
    color: whitesmoke;
}


ion-header-content {
    background-color: transparent;
    
}

ion-toolbar {
    background-color: transparent;
    height: 100%;
    color:transparent
}

ion-title {
    background-color: transparent;
    text-align: center;
}